@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes typing {
  from { width: 0 }
  to { width: 70% }
}

.typewriter {
  overflow: hidden;
  border-right: .15em solid orange; 
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation: typing 4s steps(40, end);
}



@keyframes BToT{
  from {
    opacity: 0;
    transform:translatey(40%)
  }
  to {
    opacity: 1;
    transform:translatey(0)
  }
}

.BTT {
  animation: BToT 1.5s ease-out forwards;
}
@keyframes Faded{
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.faded {
  animation: Faded 1.5s ease-out forwards;
}

@keyframes Left-to-right {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.LTR {
  animation: Left-to-right 1s ease-out forwards;
}
@keyframes right-to-left {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.RTL {
  animation: right-to-left 1s ease-out forwards;
}

.h {
  background-image: linear-gradient(
    to right,
    red,
    orange 50%,
    white 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
  
}

.h:before{
  content: '';
  background: red;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

.h:hover {
 background-position: 0;
}

.h:hover::before{
  width: 100%;
}

/* btn */
.btn {
  cursor: pointer;
  border: 1px solid #e16211;
  transition: 0.5s ease;
}

.btn:hover,
:focus {
  background-color: #ff0000;
  color: #fff;
}

